{% extends 'base.html.twig' %}

{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css">
<link rel="stylesheet" href="css/_bootswatch.scss">
<link rel="stylesheet" href="css/_variables.scss">
<link rel="stylesheet" href="css/boostrap.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/accueil.css">
{% endblock %}

{% block title %}
SpotWify
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SpotWify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link btn btn-outline-secondary" href="{{ path('drole') }}">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
      </ul>
      <a class="nav-link btn btn-secondary p-2" href="{{ path('drole') }}">Connexion
        <span class="visually-hidden">(current)</span>
      </a>
    </div>
  </div>
</nav>
{% block content %}
<div id="accueil" class="d-flex justify-content-center align-items-end">
<h1 class="h1 mb-5" style="font-size: 4em;">SpotWify</h1>
</div>
{% endblock %}
{% endblock %}