{% extends 'accueil.html.twig' %}

{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css">
<link rel="stylesheet" href="css/_bootswatch.scss">
<link rel="stylesheet" href="css/_variables.scss">
<link rel="stylesheet" href="css/boostrap.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/accueil.css">
{% endblock %}

{% block title %}
SpotWify
{% endblock %}


{% block content %}
<div class="d-flex flex-wrap justify-content-center align-items-center" style="min-height:89vh;">
<button type="button" class="btn btn-primary"> < </button>
{% for elem in album %}
    <img class="m-2" src="{{ elem.url }}" alt="" style="height: 20vh;width: 15vw;border-radius:10px;">
{% endfor %}
<button type="button" class="btn btn-primary"> > </button>
</div>
{% endblock %}
