{% extends 'accueil.html.twig' %}

{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css">
<link rel="stylesheet" href="css/_bootswatch.scss">
<link rel="stylesheet" href="css/_variables.scss">
<link rel="stylesheet" href="css/boostrap.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/accueil.css">
{% endblock %}

{% block title %}
SpotWify
{% endblock %}


{% block content %}
<div>
{% for elem in utilisateur %}
    <p>{{ elem.pseudo }}<p>
{% endfor %}

</div>
{% endblock %}
